@page "/Projects"
@model Cde.Pages.ProjectsModel
@{
    ViewData["Title"] = "Projects";
}
<h1>@ViewData["Title"]</h1>

<p>Projects</p>

@foreach (var i in Model.Projects)
{
    <li>
        <a asp-page="/Projects/Project" asp-route-id="@i.ProjectId">ссылка</a>
        <p>@i</p>
    </li>
}