@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="https://github.com/prekel/CollaborativeDocumentEditing">https://github.com/prekel/CollaborativeDocumentEditing</a></p>
</div>