@page "/Project/{id}"
@model Cde.Pages.ProjectModel
@{
    ViewData["Title"] = "Project";
}
<h1>@ViewData["Title"]</h1>

<p>Project</p>

<p>@Model.Project.Name</p>

<p>@Model.Project</p>

<ul>
    @foreach (var i in Model.Updates)
    {
        <li>@i</li>
    }
</ul>

<form asp-page-handler="Comment">
    <div class="form-group">
        <label asp-for="UpdateCommand.CommentText" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="UpdateCommand.CommentText" class="form-control"/>
            <span asp-validation-for="UpdateCommand.CommentText" class="text-danger"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Comment</button>
</form>